BasedOnStyle: GNU
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach  
ColumnLimit: 130
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None 
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInAngles: false
SpacesBeforeTrailingComments: 1
SortIncludes: true 
ReflowComments: true
Cpp11BracedListStyle: true
