*.out
*.exe
*.o
*.hi
*.app
*.slo
*.lo
*.obj
*.d
*.a
*.so
*.idx
.idea
.vscode
.cache
.venv
build/*
*log
*.swp
*#
.#*
'*
*.ii
*.i
*.pdf
*~
*.sol
*.ll
*.tmp
*.ptx
*.s

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
